.row {
  margin-bottom: 0px;
}
.card {
  border-radius: 25px;
}
.card-text {
  font-size: 14px;
}
.card-content {
  padding-bottom: 10px;
}
.card-row {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
