<div class="container about">
  <div class="center logo-utfpr">
    <a class="brand-logo">
      <img id="logo-utfpr" alt="Logo UTFPR" src="assets/logo_utfpr.png" />
    </a>
  </div>

  <h3 class="center-align">Minhas Receitas</h3>
  <h6 class="center-align">
    Projeto da disciplina Frameworks Web do Curso de Especialização em
    Tecnologia Java
  </h6>
  <br />

  <p class="center-align">
    Aluna: Taila Camila Mantovani <br />
    tailacmantovani@gmail.com
  </p>
  <br />
  <br />

  <p class="center-align">XXII Curso de Especialização em Tecnologia Java</p>
</div>
