@import "~materialize-css/dist/css/materialize.css";
@import "~material-icons/iconfont/material-icons.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,800');

:root {
  --primaryColor: #BA0600;
}

body,
html {
  background-color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Poppins', Calibri, sans-serif;
}
h1 {
  font-weight: 800;
}
h3 {
  font-weight: 500;
}
p {
  font-family: Calibri;
  font-size: medium;
}

.my-invalid-input {
  border-color: red !important;
  border-left: medium !important;
}

